body {
  font-family: sans-serif;
}

div {
  background: repeating-linear-gradient(
      #0004 0 0.125%,
      #0000 0 9.875%,
      #0004 0 10%
    ),
    repeating-linear-gradient(
      to right,
      #0004 0 0.125%,
      #0000 0 9.875%,
      #0004 0 10%
    );
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas *,
.canvas *::before,
.canvas *::after {
  position: absolute;
  box-sizing: border-box;
  display: block;
}
.body {
  width: 59%;
  height: 50%;
  background: #fff;
  border-radius: 100%/ 90% 90% 110% 100%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 2vmin 0 4vmin #fffa, inset -2vmin 0 5vmin #fffa,
    inset 0 0 5vmin #0004, 0 0.25vmin 0 1vmin;
}

.head {
  width: 45%;
  height: 35%;
  background: #fff;
  border-radius: 100%/ 90% 90% 110% 100%;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 2vmin 0 4vmin #fffa, inset -2vmin 0 4vmin #fffa,
    inset 0 0 4vmin #0005, 0 0.25vmin 0 1vmin;
}

.scarf {
  width: 38%;
  height: 25%;
  border-radius: 50%;
  background: #d00;
  box-shadow: inset 3vmin 1vmin 3vmin -2vmin #fffa,
    inset -3vmin 2vmin 3vmin -2vmin #fffa, inset 0 -1vmin 2vmin #8008,
    0 0.25vmin 0 1vmin;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.scarf-hanging {
  width: 10%;
  height: 25%;
  background: #d00;
  top: 60%;
  left: 62%;
  border-radius: 100% / 20%;
  box-shadow: inset 3vmin 1vmin 3vmin -2vmin #fffa,
    inset -3vmin 2vmin 3vmin -2vmin #fffa, inset 0 -1vmin 2vmin #8008,
    0 0.25vmin 0 1vmin;
}

.thread {
  top: 65%;
  left: 62%;
  width: 10%;
  height: 25%;
  border-radius: 100%/10%;
  box-shadow: inset 3vmin 1vmin 3vmin -2vmin #fff7,
    inset -3vmin 2vmin 3vmin -2vmin #fff7, inset 0 -1vmin 2vmin #8008,
    0 -1vmin 0 1vmin;
  background: repeating-linear-gradient(to right, #0000 0 14%, #000 0 30%);
}

.button {
  box-shadow: 0 0.25vmin 0 0.78vmin;
  background: radial-gradient(circle at 35% 35%, #fff3 20%, #0000);
  background-color: black;
  width: 7%;
  height: 9%;
  border-radius: 100% 90% 110% 100%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.button + .button {
  top: 60%;
  transform: translateX(-50%) rotate(20deg);
}

.eye {
  --pos: 20%;
  box-shadow: inset 0 0 1vmin 0.125vmin #000, inset -0.5vmin -0.5vmin 1vmin #000,
    inset -1.5vmin -1vmin 2vmin #fffb, 0.25vmin 1.23vmin 0 0.8vmin #0002,
    0 0.25vmin 0 0.8vmin;
  background-color: #222;
  width: 13%;
  height: 22%;
  border-radius: 100% 90% 110% 100%;
  top: 38%;
  left: var(--pos);
  transform: rotate(10deg);
  overflow: hidden;
}

.eye + .eye {
  left: auto;
  right: var(--pos);
}

.eye::before {
  content: " ";
  width: 35%;
  height: 35%;
  background: #fff;
  border-radius: 100%;
  top: 15%;
  left: 10%;
  transform: rotate(15deg);
  box-shadow: 0 0 3vmin 1.5vmin #000;
}

.mouth {
  /*box-shadow:
      0 0.25vmin 0 0.5vmin; 
  overflow: hidden;
  clip-path:polygon(-20% 40%, 120% 40%,120% 120%, -20% 120%)
  */
  width: 12%;
  height: 16%;
  border-radius: 100% 90% 110% 100%;
  top: 68%;
  left: 50%;
  transform: translate(-50%) rotate(3deg);
  border: 0.6vmin solid;
  border-bottom-width: 0.9vmin;
  clip-path: polygon(-20% 40%, 120% 30%, 120% 120%, -20% 120%);
}

.nose {
  width: 15%;
  height: 11%;
  background: linear-gradient(#ff05, #0000, #d805);
  background-color: #fa0;
  border-radius: 125% 60% 60% 150% / 100%;
  left: 45%;
  top: 55%;
  transform: translate(-50%, 0);
  box-shadow: -0.0625vmin 0 0 0.7vmin;
}

.nose::before,
.nose::after {
  content: "";
  width: 40%;
  height: 80%;
  border-radius: 100%;
  border-right: 0.5vmin solid darkorange;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.nose::after {
  height: 60%;
  width: 25%;
  left: 25%;
}

.cheek {
  width: 25%;
  height: 18%;
  background: radial-gradient(farthest-side, #f003, #0000);
  border-radius: 50%;
  top: 75%;
  left: 20%;
}

.cheek + .cheek {
  left: auto;
  right: 0%;
}

.cheek::before,
.cheek::after {
  content: "";
  width: 30%;
  height: 35%;
  border-radius: 100%;
  border-top: 0.5vmin solid #f006;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-40deg);
}

.cheek::after {
  transform: translate(-10%, -35%) rotate(-20deg);
}

.arm {
  width: 40%;
  height: 20%;
  background: transparent;
  border-radius: 0% 50% 50% 50%;
  top: 30%;
  right: 10%;
  transform: translateX(100%) rotate(-25deg);
  box-shadow: 0 -2.5vmin 0 -1vmin;
}

.arm::before,
.arm::after {
  content: "";
  background: black;
  width: 30%;
  height: 1.5vmin;
  border-radius: 0 100% 100% 0;
  right: -5%;
  top: -1.25vmin;
}

.arm::after {
  transform-origin: left center;
  transform: rotate(-30deg);
  width: 25%;
  right: 5%;
}

.arm + .arm {
  left: 18%;
  top: 10%;
  border-radius: 15% 50% 50% 50%;
  transform: scaleX(-1) translateX(100%) rotate(-15deg) rotate(-15deg)
    scaleY(-1);
}

.hat-base {
  width: 55%;
  height: 16%;
  background: #333;
  border-radius: 100% / 120% 120% 90% 90%;
  box-shadow: inset 2vmin -1.5vmin 4vmin 0.5vmin #fff5,
    inset -2vmin -1.5vmin 4vmin 0.5vmin #fff5, inset 0 0 5vmin 2vmin #000,
    inset 0 -2vmin 4vmin 1vmin #000, 0 0.25vmin 0 1vmin;
  left: 50%;
  transform: translateX(-50%);
  top: 17%;
}

.hat-top {
  width: 30%;
  height: 22%;
  background: #333;
  box-shadow: inset 2vmin -1.5vmin 4vmin 0.5vmin #fff5,
    inset -2vmin -1.5vmin 4vmin 0.5vmin #fff5, inset 0 0 5vmin 2vmin #000,
    inset 0 -2vmin 4vmin 1vmin #000, 0 0.25vmin 0 1vmin;
  border-radius: 100% / 10% 10% 10% 5%;
  left: 50%;
  transform: translate(-50%, -210%);
}
